h1 {
    text-align: center;

}

#title {
    box-shadow: 2px 4px rgba(147, 112, 216, 0.425);
}

input[type="text"] {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid gray;
    background-color: gray;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

input {
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerOne {
    margin-right: 10px;
}

.button {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px transparent #007bff;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    border: 1px solid black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background-color: #e0e0e0;
    transform: scale(1.05)
}

#restart-btn {
    margin-top: 20px;
}

#dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialog {
    border: 0;
    width: 250px;
    height: 250px;
}

#dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#dialog-content>div:last-child {
    margin-top: 50px;
}

#close-btn {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px transparent #dc3545;
}

.hide {
    display: none;
}